@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
	--clr-color1: hsl(0, 0%, 100%);
	--clr-color2: hsl(212, 45%, 89%);
	--clr-color3: hsl(220, 15%, 55%);
	--clr-color4: hsl(218, 44%, 22%);

	--ff-outfit: 'Outfit', sans-serif;

	--fw-regular: 400;
	--fw-bold: 700;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--ff-outfit);
	background-color: var(--clr-color2);
	min-height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  widows: 1px;
}

main {
	max-width: 320px;
	margin: 0 auto;
}

.qr {
	background-color: var(--clr-color1);
	padding: 1rem;
	border-radius: 18px;
}

.qr img {
	width: 100%;
	border-radius: 12px;
}

.qr__text {
	text-align: center;
	margin: 20px 0 22px 0;

	display: flex;
	flex-direction: column;
	gap: 12px;
}

.qr__title {
	font-weight: var(--fw-bold);
	color: var(--clr-color4);
	font-size: 22px;
	padding: 0 8px;
}

.qr__description {
	font-weight: var(--fw-regular);
	font-size: 15px;
	color: var(--clr-color3);
	padding: 0 11.5px 3px 11.5px;
}
